article {
  width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  gap: 6.4rem;
}
article p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #475467;
}

.article--heading {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9.6rem auto 0 auto;
}
.article--heading h1 {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
  color: #384250;
}
.article--heading p {
  font-size: 2rem;
  color: #384250;
}
.article--heading > span {
  font-size: 1.6rem;
  color: #4d5761;
}
.article--content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  gap: 1.8rem;
}
.article--content > img {
  margin: 2rem 0;
}
.highlited--text {
  border-left: 2px solid #8200aa;
  padding: 2px 0 2px 20px;
}
.highlited--text > p {
  font-style: italic;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 3.2rem;
}
.avatar--author {
  display: flex;
  gap: 1.6rem;
}
.article--author {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.author--role {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.social--media {
  margin: auto 1.5rem auto auto;
}
.related--articles {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 9.6rem auto;
  gap: 9.6rem;
}
.sugested--articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  justify-content: space-between;
}
.sugested--articles > div {
  width: min-content;
}
article > section:last-of-type {
  padding-bottom: 6px;
  border-bottom: 1px solid #f2f4f7;
}
