* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #384250;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
p {
  text-align: justify;
}

header {
  display: flex;
  /* justify-content: space-between; */
  gap: 2rem;
  max-width: 120rem;
  margin: 1.5rem auto;
  padding: 0 2rem;
}

nav {
  display: flex;
  gap: 2.5rem;
}

nav > img {
  width: 22rem;
  margin-right: 2rem;
}
.category > a,
nav > a {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: #384250;
}
.header-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hamburger-menu {
  display: none;
  width: 2rem;
  height: 2rem;
  margin-right: 2.5rem;
  margin-top: -0.6rem;
}
.hamburger-menu button,
.close-btn button {
  background-color: transparent;
  border: none;
}

.category:hover > .subcategories {
  display: flex;
}
.category {
  position: relative;
  padding: 1rem;
}
.category:hover,
.category:active {
  background-color: #f3f4f6;
}

.categories__header {
  /* margin-left: auto */
  position: relative;
}
.subcategories {
  position: absolute;
  display: none;
  flex-direction: column;
  padding: 2rem 1rem;
  background-color: #f3f4f6;
  width: 100%;

  gap: 2.4rem;
  font-size: 1.4rem;

  left: 0rem;

  z-index: 100;
}

h1 {
  width: 70%;
  font-size: 4.8rem;
}
a {
  text-decoration: none;
  color: #384250;
}

.container {
  max-width: 120rem;
  margin: 3rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10rem;
  padding-bottom: 3.6rem;
  border-bottom: 1px solid #f2f4f7;
}
.nav--container {
  border-bottom: 1px solid #f2f4f7;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9.6rem;
  gap: 2.4rem;
}
.hero-section > p {
  width: 70%;
  font-size: 2rem;
  align-content: center;
}
.featured--article h2 {
  font-size: 3rem;
  margin: 0.8rem 0;
}
/* .featured--article a {
  text-decoration: none;
  color: #384250;
} */
.featured--article img {
  width: 100%;
  aspect-ratio: 3/1;
  margin-bottom: 3.2rem;
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 1000px;
  margin: auto 0;
  background-color: black;
}
.category--marker {
  margin-top: 2.4rem;
  display: flex;
  gap: 0.8rem;
}
.category--marker > span {
  border: #384250 none 1px;

  background-color: #f3f4f6;
  padding: 0.2rem 1rem;
  border-radius: 1.6rem;
}
.category--marker a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #384250;
  padding: 0.2rem 1rem 0.2rem 1rem;
}
.author {
  display: flex;
  gap: 1.6rem;
  font-size: 1.4rem;
}
.latest--articles,
.categories-articles,
.search-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 3.2rem;
}
.latest--articles > div,
.categories-articles > div,
.search-result > div {
  width: 100%;
}
.latest--articles img,
.categories-articles img,
.search-result img {
  width: 100%;

  aspect-ratio: 16/9;

  margin-bottom: 3.2rem;
}

.article-intro {
  font-size: 1.8rem;
}
.latest--articles .article-intro,
.categories-articles .article-intro,
.search-result .article-intro {
  height: 15rem;
  overflow: hidden;
  font-size: 1.8rem;
}

.latest--articles h2,
.categories-articles h2,
.search-result h2 {
  min-height: 5.7rem;

  font-size: 2.2rem;
  margin: 0.8rem 0;
  text-transform: uppercase;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: wrap;
}

a:hover {
  cursor: pointer;
}
#search--articles {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 3px;
  width: 49rem;
  height: 4.8rem;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
footer {
  background-color: #384250;
  color: #f2f4f7;
  margin-top: auto;
}

.trade-mark-and-social-media {
  max-width: 120rem;
  margin: 1.5rem auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trade-mark-and-social-media span {
  font-size: 1.6rem;
}

.facebook-img {
  width: 3.5rem;

  filter: invert(100%);
}
.about-us {
  font-size: 1.8rem;
}

.menu-modal,
.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(230, 230, 230);
  /* transition: all 0.5s; */
}
.search-modal {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.hamburger-menu-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 25vh; */
  gap: 1rem;
}
.center-content {
  display: flex;

  height: 100%;
  align-items: center;
  justify-content: center;
}
.close-btn {
  /* float: right; */
  position: absolute;
  right: 0;
  font-size: 2.5rem;
  margin: 2rem;
}

.menu-modal a {
  font-size: 2rem;
}
.search-input {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 3px;
  width: 49rem;
  height: 4.8rem;
  background-color: transparent;
  margin-top: 5rem;
}
.search-result {
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  overflow: scroll;
  padding: 0 2rem;
  gap: 3rem;
  /* transform: scale(0.8); */
}
.search-result > div {
  /* width: 80%; */
  /* padding: 1.2rem; */
}

.hidden {
  display: none;
}
